body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#buttons {
    position: absolute;
    top: 25px;
    left: 10px;
}

#buttons > input {
    display: block;
}

.konvajs-content {
    margin: auto;
}